Repository zoobzio/sentinel: changes, and which Codecov flags are due for each by the changed paths.
All: unit, Policy Engine, Administration, API Layer, Event System, Data Management, Visualization

fix: add badges
  README.md
Due: none

feat: refactor for major simplification
  .github/workflows/ci.yml
  .goreleaser.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  admin.go
  admin_test.go
  api.go
  api_test.go
  benchmark_test.go
  classification_test.go
  convention_test.go
  demo_test.go
  erd_test.go
  events.go
  events_test.go
  extraction.go
  extraction_test.go
  go.mod
  go.sum
  logger_test.go
  metadata.go
  metadata_test.go
  policy.go
  policy_test.go
  relationship.go
  relationship_test.go
  rule.go
  rule_test.go
  signals.go
  signals_test.go
Due: unit, Policy Engine, Administration, API Layer, Event System, Data Management

fix: update readme
  README.md
Due: none

feat: observability & schema export
  README.md
  api.go
  api_test.go
  extraction.go
  go.mod
  go.sum
  observability.go
  options.go
Due: unit, API Layer, Data Management

fix: test coverage
  README.md
  api.go
  api_test.go
  cache_test.go
  erd.go
  erd_test.go
  extraction_test.go
  options_test.go
Due: unit, API Layer, Visualization

fix: move badges
  README.md
Due: none

fix: rollback observability & context
  README.md
  api.go
  api_test.go
  benchmark_test.go
  erd_test.go
  extraction.go
  extraction_test.go
  observability.go
  options.go
  options_test.go
  relationship.go
  relationship_test.go
Due: unit, API Layer, Data Management

fix: update go.mod
  go.mod
  go.sum
Due: none

feat: Scan[T] for recursive scanning
  README.md
  api.go
  extraction.go
  extraction_test.go
  metadata.go
  relationship.go
  relationship_test.go
Due: unit, API Layer, Data Management

fix: retract invalid versions
  go.mod
Due: none

feat: extract ERD
  README.md
  api_test.go
  erd.go
  erd_test.go
  extraction_test.go
  relationship_test.go
Due: unit, Visualization

docs: fix readme
  README.md
Due: none

feat: package cleanup + extend docs
  Makefile
  README.md
  api.go
  docs/1.overview.md
  docs/2.learn/1.quickstart.md
  docs/2.learn/2.concepts.md
  docs/3.guides/1.scanning.md
  docs/3.guides/2.tags.md
  docs/3.guides/3.testing.md
  docs/4.reference/1.api.md
  docs/4.reference/2.types.md
  extraction_test.go
  metadata.go
  relationship.go
  relationship_test.go
  testing/benchmarks/core_test.go
  testing/integration/scan_test.go
Due: unit, API Layer, Data Management

fix: test coverage
  api_test.go
  relationship_test.go
Due: none

feat: improve docs + ci
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .golangci.yml
  Makefile
  README.md
  api.go
  api_test.go
  cache.go
  cache_test.go
  docs/1.overview.md
  docs/2.learn/2.concepts.md
  docs/4.cookbooks/1.erd-diagrams.md
  docs/4.cookbooks/2.database-schemas.md
  docs/4.cookbooks/3.api-documentation.md
  docs/5.reference/1.api.md
  docs/5.reference/2.types.md
  extraction.go
  go.mod
  metadata.go
  metadata_test.go
Due: unit, API Layer, Data Management

fix: improve coverage + readme
  README.md
  extraction_test.go
  metadata.go
Due: unit, Data Management

feat: expose reflect.Type, field kind, and field position
  README.md
  docs/2.learn/2.concepts.md
  docs/5.reference/2.types.md
  extraction.go
  extraction_test.go
  metadata.go
  metadata_test.go
Due: unit, Data Management

chore: refactor readme
  README.md
Due: none

feat: include reflect.Type on metadata
  .github/workflows/ci.yml
  docs/2.learn/2.concepts.md
  docs/5.reference/1.api.md
  docs/5.reference/2.types.md
  extraction.go
  extraction_test.go
  metadata.go
  metadata_test.go
Due: unit, Data Management

feat: fqdn + standard improvements
  .github/workflows/ci.yml
  .gitignore
  Makefile
  README.md
  api.go
  api_test.go
  docs/1.overview.md
  docs/2.learn/1.quickstart.md
  docs/2.learn/2.concepts.md
  docs/3.guides/1.scanning.md
  docs/3.guides/2.tags.md
  docs/3.guides/3.testing.md
  docs/4.cookbooks/1.erd-diagrams.md
  docs/4.cookbooks/2.database-schemas.md
  docs/4.cookbooks/3.api-documentation.md
  docs/5.reference/1.api.md
  docs/5.reference/2.types.md
  extraction.go
  extraction_test.go
  go.mod
  metadata.go
  metadata_test.go
  relationship.go
  relationship_test.go
  testing/helpers.go
  testing/helpers_test.go
  testing/integration/scan_test.go
Due: unit, API Layer, Data Management

feat: compliance w/ release checklist
  .github/workflows/ci.yml
  .golangci.yml
  .goreleaser.yml
  Makefile
  README.md
  docs/1.overview.md
  docs/4.cookbook/1.erd-diagrams.md
  docs/4.cookbook/2.database-schemas.md
  docs/4.cookbook/3.api-documentation.md
Due: none

feat: .github templates + architecture docs
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  docs/2.learn/2.concepts.md
  docs/2.learn/3.architecture.md
  testing/README.md
  testing/benchmarks/README.md
  testing/integration/README.md
Due: none

feat: update readme + secure reset footgun
  Makefile
  README.md
  api.go
  api_test.go
  docs/1.overview.md
  docs/2.learn/3.architecture.md
  docs/3.guides/3.testing.md
  docs/4.cookbook/2.database-schemas.md
  reset_testing.go
  testing/README.md
  testing/helpers.go
  testing/helpers_test.go
Due: unit, API Layer

fix: testing build for coverage
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: none

fix: finetune coverage workflows
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  README.md
Due: none

fix: package cleanup
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.md
  api.go
  api_test.go
  cache.go
  cache_test.go
  docs/2.learn/2.concepts.md
  docs/2.learn/3.architecture.md
  metadata.go
  reset.go
  reset_test.go
Due: unit, API Layer, Data Management

docs: tweak readme
  README.md
Due: none

feat: enforce repo settings
  .github/CODEOWNERS
  .github/settings.yml
Due: none

docs: overhaul docs quality
  README.md
  docs/1.learn/1.overview.md
  docs/1.learn/2.quickstart.md
  docs/1.learn/3.concepts.md
  docs/1.learn/4.architecture.md
  docs/1.overview.md
  docs/2.guides/1.scanning.md
  docs/2.guides/2.tags.md
  docs/2.guides/3.testing.md
  docs/2.guides/4.troubleshooting.md
  docs/2.learn/1.quickstart.md
  docs/2.learn/2.concepts.md
  docs/2.learn/3.architecture.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  docs/4.cookbook/1.erd-diagrams.md
  docs/4.cookbook/2.database-schemas.md
  docs/4.cookbook/3.api-documentation.md
  docs/4.reference/1.api.md
  docs/4.reference/2.types.md
Due: none

docs: fix stale links
  .goreleaser.yml
  CONTRIBUTING.md
  docs/1.learn/1.overview.md
  docs/1.learn/2.quickstart.md
  docs/1.learn/3.concepts.md
  docs/1.learn/4.architecture.md
  docs/2.guides/1.scanning.md
  docs/2.guides/3.testing.md
  docs/2.guides/4.troubleshooting.md
Due: none

docs: overhaul docs quality (#1)
  .goreleaser.yml
  CONTRIBUTING.md
  README.md
  docs/1.learn/1.overview.md
  docs/1.learn/2.quickstart.md
  docs/1.learn/3.concepts.md
  docs/1.learn/4.architecture.md
  docs/1.overview.md
  docs/2.guides/1.scanning.md
  docs/2.guides/2.tags.md
  docs/2.guides/3.testing.md
  docs/2.guides/4.troubleshooting.md
  docs/2.learn/1.quickstart.md
  docs/2.learn/2.concepts.md
  docs/2.learn/3.architecture.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  docs/4.cookbook/1.erd-diagrams.md
  docs/4.cookbook/2.database-schemas.md
  docs/4.cookbook/3.api-documentation.md
  docs/4.reference/1.api.md
  docs/4.reference/2.types.md
Due: none

docs: additional tweaks
  README.md
  docs/1.learn/1.overview.md
  docs/1.learn/2.quickstart.md
  docs/1.learn/3.concepts.md
  docs/1.learn/4.architecture.md
  docs/2.guides/1.scanning.md
  docs/2.guides/2.tags.md
  docs/2.guides/3.testing.md
  docs/2.guides/4.troubleshooting.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  docs/4.reference/1.api.md
  docs/4.reference/2.types.md
  testing/README.md
Due: none

docs: additional tweaks (#2)
  README.md
  docs/1.learn/1.overview.md
  docs/1.learn/2.quickstart.md
  docs/1.learn/3.concepts.md
  docs/1.learn/4.architecture.md
  docs/2.guides/1.scanning.md
  docs/2.guides/2.tags.md
  docs/2.guides/3.testing.md
  docs/2.guides/4.troubleshooting.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  docs/4.reference/1.api.md
  docs/4.reference/2.types.md
  testing/README.md
Due: none

feat(metadata): add Exported flag to FieldMetadata
  README.md
  api_test.go
  docs/1.learn/3.concepts.md
  docs/4.reference/2.types.md
  extraction.go
  extraction_test.go
  metadata.go
  metadata_test.go
  testing/integration/scan_test.go
Due: unit, Data Management

refactor(metadata): revert extraction change, Exported always true
  api_test.go
  docs/1.learn/3.concepts.md
  docs/4.reference/2.types.md
  extraction.go
  extraction_test.go
  metadata.go
  metadata_test.go
  testing/integration/scan_test.go
Due: unit, Data Management

chore: org migration housekeeping
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  Makefile
  README.md
  docs/1.learn/2.quickstart.md
  docs/2.guides/3.testing.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  go.mod
  metadata_test.go
  relationship_test.go
  testing/README.md
  testing/benchmarks/core_test.go
  testing/helpers.go
  testing/helpers_test.go
  testing/integration/scan_test.go
Due: none

chore: org migration housekeeping (#8)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/settings.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
  Makefile
  README.md
  docs/1.learn/2.quickstart.md
  docs/2.guides/3.testing.md
  docs/3.integrations/1.erd.md
  docs/3.integrations/2.soy.md
  docs/3.integrations/3.rocco.md
  go.mod
  metadata_test.go
  relationship_test.go
  testing/README.md
  testing/benchmarks/core_test.go
  testing/helpers.go
  testing/helpers_test.go
  testing/integration/scan_test.go
Due: none

Path conditions:
  unit: any of: *.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  Policy Engine: any of: policy.go, rule.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  Administration: any of: admin.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  API Layer: any of: api.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  Event System: any of: events.go, signals.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  Data Management: any of: cache.go, metadata.go, extraction.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
  Visualization: any of: erd.go, but not: *_test.go, **/*_test.go, **/mock_*.go, **/testdata/**, docs/**, .github/**, vendor/**, benchmark_test.go, demo_test.go
